@import'../../../scss/main.scss';
li{
    background-color: $VeryLightGray;

    border-radius: 10px 10px 0 0;
    overflow: hidden;
    img{
        object-fit: cover;
        width: 100%;
        height: auto;
    }
}