@import'../../../scss/main.scss';
.Country {
    //background-color: $DarkGray;
    overflow: hidden;

  a {
     
   
          text-decoration: none;
    
      img{
           width: 100%;
           object-fit: cover;
           @include mobile{
               height: 15rem;
           }
           @include bigTablet {
               height: 10rem;
           }
    }
    .countryInfo{
     
        span{
            font-weight: bold;
        }
    }}
}