@import'../../../scss/main.scss';
.Country {
    position: relative;
    overflow: hidden;
   
  a {
          text-decoration: none;
      img{
           width: 100%;
           object-fit: cover;
           @include mobile{
               height: 15rem;
           }
           @include bigTablet {
               height: 10rem;
           }
    }
    .countryInfo{
        span{
            font-weight: bold;
        }
    }
    }
   &::after{
       content: "";
       position: absolute;
       left: 0;
       bottom: 0;
       width: 0%;
      height: 2px;
      background-color: $DarkBlue;
       transition:width .3s ease-in;
   }
   &:hover {
        &::after {
       width: 100%;}
   }
}