
// Colors
$DarkBlue: hsl(209, 23%, 22%);

$DarkGray : hsl(0, 0%, 52%);
$VeryLightGray : #f5f5f5;
$White: hsl(0, 0%, 100%);

@mixin monitor {
    @media screen and(min-width:1366px) {
        @content
    }
}

;

@mixin laptop {
    @media screen and (min-width:1100px) {
        @content
    }
}

;
@mixin bigTablet {
    @media screen and(min-width:1024px) {
        @content
    }
}

;

@mixin tablet {
    @media screen and(min-width:768px) {
        @content
    }
}

;

@mixin mobile {
    @media screen and(min-width:500px) {
        @content
    }
}
